<div class="jumbotron">
   <h1>EPAM Earth Ponies</h1>

   <p>
      Earth ponies were the original ponies to be featured in the My Little Pony toy line. According to Lauren Faust, Earth ponies have a special connection to nature,
      animals, and plants. Though they lack the ability to consciously cast spells like unicorns or to fly and walk on clouds like Pegasi, their connection to nature
      makes them "just as necessary" as and "perhaps more important" than the other ponies.
   </p>

   <p>
      In the chapter book Twilight Sparkle and the Crystal Heart Spell, it is written that Twilight Sparkle, from the moment she becomes an Alicorn in the episode
      Magical Mystery Cure, "was now able to harness the magical powers of the Unicorns, the flight abilities of the Pegasi, and the strength of a good, true heart of
      an Earth Pony."
   </p>
   <p>
      The Earth ponies' connection to the land and animals manifests in various ways. Chiefly, it's expressed in Hearth's Warming Eve where it's stated in the titular
      holiday's pageant that food can only be grown by the Earth ponies. This suggests that the race possesses a passive, botanically focused magic unique to them. The
      pageant describes the Earth pony tribe's role in the founding of Equestria.
   </p>
   <p>
      Both Earth ponies from the main cast are connected to farming: Pinkie tells the Cutie Mark Crusaders she used to be a rock farmer along with the rest of her
      immediate family in The Cutie Mark Chronicles, and Applejack lives and works on a farm. The Apple family maintains apple orchards in Ponyville and Appleloosa, and
      many Earth ponies work to plow and sow the fields in Winter Wrap Up. Earth ponies also do most of the manual labor, such as scoring ice and clearing snow. In
      other episodes, Earth ponies are shown pulling rickshaws, carriages, and even trains, suggesting natural physical ability. In more extreme cases, Earth pony
      characters are shown accomplishing remarkable physical feats such as pulling entire houses across the landscape or easily breaking through barricades, both of
      which are shown in Hearts and Hooves Day. Their talent for animal care is less prominently featured, though Applejack drives cattle in Applebuck Season, and keeps
      pigs in her barn. Fluttershy, a Pegasus pony, is a notable exception, as she has her own special bond to the Earth, and she spends most of her time taking care of
      animals. Fluttershy was originally conceived by Lauren Faust as an Earth pony, which could explain this exception.
   </p>
   <p>
      However, not all Earth ponies are farmers. Earth ponies work in a variety of professions, including many prestigious or influential ones: Pinkie and the Cakes are
      pastry chefs, Hoity Toity is a fashion mogul, Photo Finish is a celebrity and photographer, Sapphire Shores is a pop singer, Filthy Rich is a successful
      businessman, Octavia Melody is a cellist who has played for at least two formal parties, Cheerilee is a school teacher, Nurse Redheart is a nurse, and the spa
      ponies work at a classy spa.
   </p>
   <h3>Physical capabilities</h3>
   <p>
      Earth ponies posses a diverse range of talents and capabilities, as previously mentioned. One recurring trait, however, is their physical prowess. Physically very
      powerful, some Earth ponies are capable of performing incredible feats of strength with little or no visible strain and enjoying long-lasting stamina as well.
      Rainbow Dash, a noted Pegasus athlete, has been shown to be able to keep up with Applejack when racing on the ground but incapable of overtaking Ms. Peachbottom
      at all even when flying at low altitude. Other notable examples of Earth pony strength include:
   </p>
   <ul>
      <li>Applejack stopping a runaway carriage full of ponies in The Mysterious Mare Do Well</li>
      <li>Big McIntosh pulling a house and several bulls in Hearts and Hooves Day</li>
      <li>Maud Pie hurling a large boulder over a great distance and breaking apart another large boulder with her bare hooves in the titular episode</li>
   </ul>
</div>
