.container {
   display: flex;
   align-items: center;
   .nav-item {
      margin-left: 10px;
   }

   div.nav-items {
      flex: auto;
   }
   fa-icon[icon='adjust'] {
      margin-right: 5px;
   }
}
